
CREATE TABLE IF NOT EXISTS public.attendance_records (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
    session_id TEXT NOT NULL,
    status TEXT NOT NULL,
    date DATE NOT NULL,
    subject_id TEXT NOT NULL,
    session_type TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(user_id, date, subject_id, session_type)
);

ALTER TABLE public.attendance_records ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
manage
their
own
attendance\ 
ON public.attendance_records 
FOR ALL 
USING (auth.uid() = user_id);

